* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.main .book {
  border: solid;
  height: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-width: 200px;
}
.book_image {
  height: 100%;
  width: 100%;
  min-width: 50px;
}
.book_image img {
  height: 100%;
  width: max(75px, 100%);
}

.book .book_details {
  min-width: 100px;
  display: grid;
}
