* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  background-color: #e2e8f0;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.header {
  display: grid;
  place-items: center;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(253px, 1fr));
  gap: 1rem;
  padding: 1rem;
  align-content: start;
}

.main .book {
  border: solid;
  height: fit-content;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-width: 200px;
  background-color: #fff;
}
.book_image {
  height: 100%;
  width: 100%;
  min-width: 50px;
}
.book_image img {
  height: 100%;
  width: max(75px, 100%);
}

.book .book_details {
  min-width: 100px;
  display: grid;
  align-items: center;
}
.book_details .book_title {
  font-size: 1.5em;
  font-weight: bold;
}
.book_details .book_page_status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer {
  display: grid;
  place-items: center;
}

.footer button {
  margin: 0.4rem;

  width: 5.8rem;
  height: 2.3rem;
  border-radius: 2rem;
  color: white;
  background-color: #1992d4;
  border: none;
}

.add_book_form {
  display: grid;
}

.form_content .keyboardInputs {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.3rem;
}

dialog.add_book_dialog {
  padding: 1rem;
  margin: auto;
  border-radius: 5px;
  box-shadow: inset -1px 0px 16px 1px #aca5a5;
}

dialog.add_book_dialog::backdrop {
  backdrop-filter: blur(1px);
}
.read_status_wrapper {
  border: none;
  margin-top: 5px;
}
.read_status_wrapper legend {
  float: left;
  margin-right: 13px;
}

.form_buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  justify-content: center;
}

.form_content {
  display: grid;
}

.form_content button {
  width: 4rem;
  height: 1.5rem;
}
